.container {
    margin: 20px;
    display:flex;
    //align-items: center;
    //justify-content: center;
}
.menu-container{
    text-align: center;
}
.menu {
    max-width: 45%;
}
.example-card {
    max-width: 400px;
    text-align: center;
    
    //display: flex;
  //align-items: center;
  //justify-content: center;
  }