<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40">
    <!--<p>Display the details of the Dish here</p>-->
    <div fxFlex *ngIf="dish">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title >
              <h3>{{dish.name | uppercase}}</h3>
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image src={{dish.image}} alt={{dish.name}} height="450px">
          <mat-card-content>
            <p>{{dish.description}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
  </div>

  <div class="comments" fxFlex="40">
    <!--<p>Display the list of comments here</p>-->
    <mat-list fxFlex *ngIf="dish">
        <h3>Comments</h3>
        <mat-list-item *ngFor="let dishComment of dish.comments">
          
          <p matLine><span> {{dishComment.comment}} </span></p>
          <p matLine> {{dishComment.rating}} Stars </p>
          <p matLine> -- {{dishComment.author}} {{dishComment.date | date}} </p>
        </mat-list-item>
    </mat-list>
  </div>

</div>
